.main-element {
  padding-right: 20px;
  padding-left: 10px;
}

.side-bar {
  width: 400px;
}

.side-element {
  width: 500px;
}

.menu-container {
  height: 100vh;
}

.profile-picture {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
}

.grey {
  color: var(--grey);
}

.white {
  color: var(--white);
}

.bold {
  font-size: bolder;
}

.circle-button {
  border-radius: 50%;
}

textarea {
  resize: none;
}

.tweet-box {
  border-bottom: solid;
  border-width: 1px;
}

.line-clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.trending-box {
  background-color: var(--background);
  border-radius: 15px;
  position: fixed;
}

.as-link:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .trending {
    display: none;
  }
}

@media (max-width: 992px) {
  .side-bar {
    width: 60px;
    position: fixed;
  }
  .menu-text {
    display: none;
  }
  .main-element {
    margin-left: 60px; /*buscar forma adecuada de posicionar este en relación al sidebar, porque así excedemos el root!*/
  }
}


@media (max-width: 992px) {
  .side-bar {
    width: 60px;
    position: fixed;
  }}
