:root {
  --azul-oscuro: rgb(2, 20, 34);
  --celeste: rgb(12, 139, 217);
  --blanco: rgb(250, 250, 250);
}

.main-element {
  padding-right: 20px;
  padding-left: 10px;
}

.side-bar {
  width: 350px;
}

.side-element {
  width: 500px;
}

.menu-container {
  height: 100vh;
}

.profile-picture {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
}

.grey {
  color: grey;
}

.white {
  color: var(--blanco);
}

.bold {
  font-size: bolder;
}

.circle-button {
  border-radius: 50%;
}

textarea {
  resize: none;
}

.tweet-box {
  border-bottom: solid;
  border-width: 1px;
}

.line-clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.trending-box {
  background-color: rgba(100, 99, 109, 0.13);
  border-radius: 15px;
  position: fixed;
}

.as-link:hover {
  cursor: pointer;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-celeste {
  font-size: 10rem;
  color: var(--celeste);
}

.texto-blanco {
  font-size: 3rem;
  color: var(--blanco);
}

.boton-inicio {
  font-size: 1.5rem;
  color: var(--celeste) !important;
  border: 2px outset var(--celeste);
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .trending {
    display: none;
  }
}

@media (max-width: 992px) {
  .side-bar {
    width: 60px;
    position: fixed;
  }
  .menu-text {
    display: none;
  }
  .main-element {
    margin-left: 60px; /*buscar forma adecuada de posicionar este en relación al sidebar, porque así excedemos el root!*/
  }
}
