.window-box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-form-container {
  background-color: rgb(2, 20, 34);
  border-radius: 15px;
  padding: 0;
}

.next-to-form-container {
  display: none;
}

.form-container {
  background-color: white;
  padding: 4rem;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .bg-form-container {
    display: flex;
    justify-content: space-between;
  }

  .next-to-form-container {
    display: block;
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-container {
    border-radius: 0 15px 15px 0;
  }
}
