.homeContainer {
  color: white;
  margin: 0 auto;
  /*   border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: rgb(70, 70, 70); */
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: solid;
  border-width: 1px;
  border: 1px rgb(70, 70, 70) solid;
}

.tweetInput {
  background-color: #000000;
  border-radius: 0px;
  border: none;
  color: white;
}

.tweetInput:focus {
  color: rgb(255, 255, 255);
  background-color: black;
}

.tweetInput::placeholder {
  color: grey;
}

.tweetBox {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(70, 70, 70);
  display: flex;
  flex-direction: row;
  margin: 10px;
}
h3 {
  margin-left: 10px;
}

.tweetTextContainer {
  margin-left: 20px;
}

.username {
  color: grey;
}
