.homeContainer {
  color: white;
  margin: 0 auto;
  /*   border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: rgb(70, 70, 70); */
}

.formContainer {
  border-bottom: solid;
  border-width: 1px;

  /* border: 1px rgb(70, 70, 70) solid; */
}

.tweet-form {
  width: 100%;
}

.tweetInput {
  height: 5rem;
  background-color: rgb(1, 16, 27);
  border-radius: 0px;
  border: none;
  color: white;
}

.tweetInput:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 20, 34);
}

.tweetInput::placeholder {
  color: grey;
}
