:root {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  --darkblue: rgb(2, 20, 34);
  --skyblue: rgb(12, 139, 217);
  --white: rgb(250, 250, 250);
  --grey: rgb(128, 128, 128);
  --background: rgba(100, 99, 109, 0.13);
}

body {
  background-color: rgb(1, 16, 27);
  max-width: 1500px;
}
