.user-container {
  color: var(--white);
}

.profile-banner {
  width: 100%;
  max-height: 200px;
  background-image: url(../images/bg-profile-img.jpg);
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
}

.profile-avatar {
  width: 20%;
  object-fit: cover;
  border-radius: 50%;
  margin-inline-start: 10px;
  border: 4px var(--white) solid;
  margin-top: -10%;
}
